#first{
    background-image: url(./Goals-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}
#join{
    background-image: url(./1762244907845.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh; 
}